.title_area h2{width:100%; position: absolute; top:112px; left: 0; font-size: 2em; color:#fff; text-align: center;font-weight: 600;}

.slogan{text-align: center; margin: 80px 0 50px 0;}
.slogan h3{font-size: 1.5em; font-weight: bold; margin-bottom: 50px;}
.slogan p{line-height: 2em; padding: 0 5%; font-size: 1.3em;}
.slogan span{color:#0065b3; font-weight: 600;}
.slogan span.color{color:#fa7c01; font-weight: 600;}


.slides li img{width: 100%}
.slides li dt{font-size: 1.3em; font-weight: 600; margin: 8% 0; text-align: center;}
.slides li dd{padding:3% 5% ; line-height: 1.7em; background: #0065b3; color:#fff; text-align: center;}



/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 80px 0; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;  zoom: 1; }
.flex-viewport { max-height: 400%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 100%; }
/* .carousel li { margin-right: 5px; } */

/* Direction Nav */
.flex-direction-nav {height: 0;}
.flex-direction-nav a  { display: block; width: 30px; height: 30px; position: absolute; top: 19%; z-index: 10; overflow: hidden; 
                        opacity: 0; cursor: pointer; color: rgba(255, 255, 255, 0.7); 
                        -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 30px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

.flex-control-thumbs {position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%;  display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}


/* Font-face Icons */
@font-face {
    font-family: 'flexslider-icon';
    src:url('../fonts/flexslider-icon.eot');
    src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/flexslider-icon.woff') format('woff'),
        url('../fonts/flexslider-icon.ttf') format('truetype'),
        url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}