/* Reset CSS  */

/* 헤드라인 폰트 연결 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }
body {font-family: 'Aclonica', sans-serif; font-size:16px; color:#333;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video {border:0; vertical-align:top; }
a, a:link {color:#333;text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {color:#333;text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}
.hidden, #skipNav{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px; overflow: hidden; color:#fff;}






/* 헤더 공통 영역*/
#wrap{ overflow: hidden; position: relative;}
#wrap h1 {width:500px; height:153px; position:absolute; top:3.5%; left:50%; transform: translateX(-50%); z-index: 20;}
#wrap h1 a {display:block; width: 100%; height: 100%; background:url(../images/pnglogo_2.png) center no-repeat; background-size:cover;
					text-indent: -999999px; }
#headerArea {width:100%; overflow:hidden; position:absolute; right:0;  z-index: 20; height: 90px;}
#gnb{width:100%; overflow:hidden; z-index: 5; background: #31cbb1;}
.mainMenu {overflow: hidden;}
.mainMenu li{width: 25%; text-align: center;  float:left;}
.mainMenu li a{display: block; color:#fff; font-size: 2em; padding: 33px 0; } 

.menu-trigger,.menu-trigger span {display: inline-block; transition: all .4s; box-sizing: border-box;}
.menu-trigger{position:absolute; width: 30px; height: 30px; z-index: 100; top:30px; right:50px; display: none;}
.menu-trigger span { position: absolute;left: 0; width: 100%; height: 4px; background-color: #fff;
                    border-radius: 4px;}
.menu-trigger span:nth-of-type(1) {top: 0;}
.menu-trigger span:nth-of-type(2) {top: 13px;}
.menu-trigger span:nth-of-type(3) { bottom: 0;}
.menu-trigger.type12:after {position : absolute; top : 50%; left : 50%; display : block;
                 content : ''; width : 60px; height : 60px; margin : -34px 0 0 -34px;
                 border-radius : 50%; border : 4px solid transparent; transition : all .75s;}
.menu-trigger.active-12 span:nth-of-type(1) {
  -webkit-transform : translateY(14px) rotate(-45deg);
  transform : translateY(14px) rotate(-45deg);}
.menu-trigger.active-12 span:nth-of-type(2) {
  left : 60%; opacity : 0;
  -webkit-animation : active-menu-bar12-01 .8s forwards;
  animation : active-menu-bar12-01 .8s forwards;}
@-webkit-keyframes active-menu-bar12-01 {
  100% {height : 0;}}
@keyframes active-menu-bar12-01 {
  100% { height : 0;}}
.menu-trigger.active-12 span:nth-of-type(3) {
  -webkit-transform : translateY(-12px) rotate(45deg);
  transform : translateY(-12px) rotate(45deg);}
.menu-trigger.active-12:after {
  -webkit-animation : circle-12 .4s .25s forwards;
  animation : circle-12 .4s .25s forwards;}
@-webkit-keyframes circle-12 {
  0% {border-color : transparent;-webkit-transform : rotate(0deg);}
  25% {border-color : transparent #fff transparent transparent;}
  50% {border-color : transparent #fff #fff transparent;}
  75% {border-color : transparent #fff #fff #fff;}
  100% {border-color : #fff;-webkit-transform : rotate(-680deg);}}
@keyframes circle-12 {
  0% {border-color : transparent;transform : rotate (0deg);}
  25% { border-color : transparent #fff transparent transparent;}
  50% {border-color : transparent #fff #fff transparent;}
  75% {border-color : transparent #fff #fff #fff;}
  100% {border-color : #fff;transform : rotate (-680deg);}}

.videoBox{width:100%;height:100%; overflow:hidden; position:absolute; box-sizing: border-box; border: 20px solid #31cbb1; border-bottom: 0; }
#videoBG {position:fixed;  left:50%; top:50%;  width:auto; min-width:100%; height:auto;min-height:100%;  
      transform:translateX(-50%) translateY(-50%); z-index:-100;} 
#imgBG{position:fixed; left:50%;top:50%;  width:auto; min-width:100%; height:auto; min-height:100%; 
      transform:translateX(-50%) translateY(-50%); z-index:-100; display:none;}
.down{display: block; font-size: 20px; position: absolute;  left:49%; bottom:20%; transform: translateX(-49%);z-index: 25; animation:ani 1s infinite  alternate;
      text-indent:-999999px; background: url(../images/scroll.png) no-repeat; width: 5%; height: 10%; background-size: contain; z-index: 1; }
@keyframes ani {0% { transform:scale(1); opacity:1; color:#fff;}100% { transform:scale(1.2); opacity:0.8; color:#888;}}	
.bar{display: block;  background:#1081ab; text-align: right; width: 100%; height: 20px; }



/* 푸터 공통 영역*/

#footerArea{ background: #31cbb1; position: relative; margin-top: 300px;}
#footerArea::after{content: ''; display: block; width: 230px; height: 150px; background: url(../images/waltlogo.png) center no-repeat;
   background-size: cover; position: absolute; top:18px; left:5%}
#footerArea .top_move{position: absolute; top:-70px; right:5%; z-index: 1; font-size: 2em; display: block; 
  color:#fff; width: 170px; height: 120px; background: #31cbb1; border-radius: 50%; text-align: center; padding-top: 33px; }
#footerArea .top_move::before{content: ''; display: block; width: 80px; height: 80px; border-radius: 50%; background: #31cbb1;position: absolute; top:-46px; left:-11%;}
#footerArea .top_move::after{content: ''; display: block; width: 80px; height: 80px; border-radius: 50%; background: #31cbb1;position: absolute; top:-46px; right:-11%;}
#footerArea span{display: block; height: 100px; text-indent: -9999px; background: url(../images/MoanaLOGO1.png)  center center no-repeat; background-size: contain;}
#footerArea p{font-size: 1.7em; color:#fff; font-family: 'roboto',sans-serif; text-align: center; padding-bottom:20px ;}




/* 테블릿 */
@media screen and (max-width:1024px) {
/* 헤더 공통 영역*/
#wrap h1{display: none;}
.menu-trigger{display: block; position: fixed; }
.hambox{width: 100%; height: 87px;  background: #31cbb1; position: fixed; top:0; z-index: 100;}
.hambox .logo1{content: ''; display: block; width: 200px; height: 86px;  background: url(../images/MoanaLOGO1.png) center no-repeat;
                background-size: contain; position: absolute; top:4px; left:50%; transform: translateX(-50%);}
#gnb {width:100%; overflow:hidden; z-index: 5;  position: fixed; top:0;  background: #fff; box-sizing: border-box; border: 20px solid #31cbb1;
   border-top: 0; float: inherit; display: none; }
.mainMenu{display: block; position: absolute; top:0; width: 100%; margin-top: 90px; position: relative;}
.mainMenu li{float: inherit; width: 100%;  padding-top: 0;}
.mainMenu li a{line-height: 2em; font-size: 2em; display: block; color:#222; padding: 22px 0; text-align: center;}
#gnb ul li:last-of-type a{padding-bottom: 40px;} 


/* 푸터 공통 영역*/
#footerArea .top_move{position: absolute; top:-70px; right:5%; z-index: 1; font-size: 1.8em; display: block; color:#fff; width: 140px; height: 110px; background: #31cbb1; border-radius: 50%; text-align: center; padding-top: 33px; }
#footerArea .top_move::before{content: ''; display: block; width: 70px; height: 70px; border-radius: 50%; background: #31cbb1;position: absolute; top:-40px; left:-11%;}
#footerArea .top_move::after{content: ''; display: block; width: 70px; height: 70px; border-radius: 50%; background: #31cbb1;position: absolute; top:-40px; right:-11%;}
#footerArea span{display: block; height: 100px; text-indent: -9999px; background: url(../images/MoanaLOGO1.png)  center center no-repeat; background-size: contain;}
#footerArea p{font-size: 1.5em; color:#fff; font-family: 'roboto',sans-serif; text-align: center; padding-bottom:20px ;}
#footerArea::after{content: ''; display: block; width: 160px; height: 130px; background: url(../images/waltlogo.png) center no-repeat;
   background-size: cover; position: absolute; top:20px; left:5%}

}


/* 모바일 */
@media screen and (max-width:640px) {
#imgBG{position:fixed; left:50%;top:50%;  width:auto; min-width:100%; height:auto; min-height:100%; 
      transform:translateX(-50%) translateY(-50%); z-index:-100; display:unset;}
#headerArea h1{display: none;}
.hambox{background: #31cbb1; position: fixed; top:0; z-index: 100; height: 87px;}

#gnb{width:100%; overflow:hidden; z-index: 5; height: 444px; position: fixed; top:0; background: #fff;
       box-sizing: border-box; border: 20px solid #31cbb1; border-top: 0; float: inherit;  }
.mainMenu{display: block; position: absolute; top:0; width: 100%; margin-top: 82px;}
.mainMenu li{float: inherit; width: 100%;  padding-top: 0;}
.mainMenu li a{line-height: 2em; font-size: 1.4em; display: block; color:#222; text-align: center; padding:18px 0}
.menu-trigger{position:absolute; width: 30px; height: 30px; z-index: 100; top:27px; right:5%;}
.menu-trigger.type12:after {position : absolute; top : 50%; left : 50%; display : block;
                 content : ''; width : 50px; height : 50px; margin : -29px 0 0 -29px;
                 border-radius : 50%; border : 4px solid transparent; transition : all .75s;}
.hambox .logo1{width: 200px; height: 86px; position: absolute; top:-1px; left:50%; transform: translateX(-50%);}
/* 푸터 공통 영역*/
#footerArea{margin-top:0;}
#footerArea .top_move{position: absolute; top:-42px; right:10%; z-index: 1; font-size: 1em; display: block; color:#fff; width: 95px; height: 55px; background: #31cbb1; border-radius: 50%; text-align: center; padding-top: 25px; }
#footerArea .top_move::before{content: ''; display: block; width: 60px; height: 60px; border-radius: 50%; background: #31cbb1;position: absolute; top:-37px; left:-21%;}
#footerArea .top_move::after{content: ''; display: block; width: 60px; height: 60px; border-radius: 50%; background: #31cbb1;position: absolute; top:-37px; right:-21%;}
#footerArea p{display: none;}
#footerArea::after{display: none;}
}




   




/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {

}
