


*{text-align: justify;}
img{border:0; vertical-align:top;}

.visual{position: relative; width: 2000px; left: 50%; margin-left: -1000px; overflow: hidden; z-index: 10;}

   

.gallery{position:relative ;overflow:hidden; width:8000px; height:961px; left:0; top:0;}
.gallery ul li{ float:left; list-style:none; position: relative;}
.gallery_text{position: absolute; top: 370px; left: 590px; width: 800px; line-height: 4.25em; }
.gallery_text li{text-align: center; font-size: 40px; font-weight: 500; color: #fff;  padding: 30px 0; z-index: 10; display: none; position: relative; background: url(../images/tri.png) 740px 69px no-repeat;}
.gallery_text li::after{content: ''; display: block; width: 87%; height: 2px; background-color: #fff; position: absolute; top:100px; left:100px;}
.gallery_text ul li:nth-child(1) {display:block;}
.gallery_text li span{display: block; width: 30px; height: 2px; background: #fff; position: absolute; top:30px; left:30px}
.dock{width:170px; position:absolute; left:900px; bottom: 50px; height: 20px;}
.dock span.mbutton{ margin-right:15px; cursor:pointer; display:block; float:left;  width:16px; height:16px; background: #fff; border-radius:8px; transition: all .5s}
.dock .ps{ margin-right:15px;  cursor:pointer; display:block;  width:16px; height:16px; float:left; background:url(../images/st.svg) 0 0 no-repeat; background-size: contain ;}
.main .btn{display: block; width: 40px; height: 100px; background: #fff; position: absolute;  top:150px; cursor:pointer; }
.main .btnLeft{left:30px;}
.main .btnRight{right:30px}

#content{margin: 0 auto; overflow: hidden;}

/*기업소개*/

.company{width: 1200px; position: relative; margin: 200px auto; margin-bottom: 150px;overflow: hidden; background: #fff;}
.company_top{width: 800px;height: 200px;  background: #0089d1; float:left;}
.company h3{font-size:50px; color:#fff; text-align: center; padding:73px 0;}
.company h3::before{content:'';display: block; width: 200px; height: 4px; background: #fff; position: absolute; top:100px; left:600px}
.company h3::after{content:'';display: block; width: 200px; height: 4px; background: #fff; position: absolute; top:100px;}
.company p{padding:40px 0; line-height: 2.3em; font-size:24px; text-align: center; }
.icon{ height: 780px; float: right;}
.icon li{float: left; position: relative;}
.icon a{display: block; width: 400px; height: 390px; transition: all .3s ease-out; position: relative; }
.icon a>div{width: 50px; height: 390px; float:right;background: rgba(0, 0, 0, .4); transition: all .6s ease}
.icon .num{display: block; font-size: 32px; color: #fff;  font-weight: 600; padding: 30px 0 0 6px; width: 50px;transition: all .6s ease }
.icon .txt{display: block; text-align: center; font-size: 24px; color:#fff; padding: 60px 10px 0 10px; width:30px; }
.icon .num::after{content: ''; display: none; width: 40px; height: 2px;  background: #fff;}
.icon li:nth-child(1){background: url(../images/icon1.jpg)no-repeat; position: absolute; top:0; right:0}
.icon li:nth-child(2){background: url(../images/icon2.jpg)no-repeat; position: absolute; top:390px; left:0}
.icon li:nth-child(3){background: url(../images/icon4.jpg)no-repeat; position: absolute; top:390px; left:400px}
.icon li:nth-child(4){background: url(../images/icon3.jpg)no-repeat; position: absolute; top:390px; left:800px}
.icon li:hover a{background: rgba(0, 0, 0, .5);}
.icon li:hover a>div{width: 400px;}
.icon li:hover span{width: 400px;}
.icon li:hover .txt{font-size: 30px; padding: 20px 10px 0 10px; }
.icon li:hover .num{font-size: 40px; padding: 130px 0 0 100px;} 
.icon li:hover .num::after{display: block; margin: 10px 0 0 3px; }


/* 사업분야*/

.product{width: 100%; padding:150px 0;  background:#f4f4f4;}
.product h3{font-size: 50px; position: relative; padding:0 0 100px 50px; width: 1200px; margin: 0 auto;} 
.product h3::before{content: ''; display: block; width:8px; height: 60px; background: #0065b3; position:absolute; top:-4px; left:31px;} 
.pro{width: 1200px; margin: 0 auto; overflow: hidden; ; height:700px ;position: relative;}
.pro div{width:400px; position:absolute; top:0; height:700px ; background-size: cover; opacity: 0;  transition:all .5s ease-out; }
.pro .pro1{background: url(../images/pr_1.jpg) center 0 no-repeat; left:0; filter: brightness(.6);}
.pro .pro2{left:50%; margin-left:-200px; overflow:hidden}
.pro .pro2 span{display:block; width:1200px; height:800px; background:url(../images/pr_2.jpg) center 0 no-repeat; position:absolute; top:0; left:50%; margin-left:-600px;filter: brightness(.6);}
.pro .pro3{background: url(../images/pr_3.jpg) center 0 no-repeat; left:800px; z-index:2;filter: brightness(.6);}

.pro h4{text-align: center; position: relative; top:60px}
.pro ul{overflow: hidden;}
.pro ul li{width:399px; float: left; height: 800px; background-size: cover;}
.pro ul li a{display: block; height: 800px; position: relative; z-index: 20; color: #fff; font-size: 40px;}
.pro ul li a span{display: none; font-size: 20px; padding:0 50px 0 100px; line-height: 2em; position: relative; top:790px;}
.pro ul li:nth-child(1){background:url(../images/pro_1.jpg) center center no-repeat;}
.pro ul li:nth-child(2){background:url(../images/pro_2.jpg) center center no-repeat;}
.pro ul li:nth-child(3){background:url(../images/pro_3.jpg) center center no-repeat;}

/* 기술연구*/

.main_business_area{width: 100%; margin-bottom: 130px;}
.main_business_area img{ transition: all .5s ease-out;  height: 100%;}
.main_business_area h3{font-size: 50px; position: relative; left:0; top:160px; padding-left:30px; width: fit-content; }
.main_business_area h3::before{content: ''; display: block; width:8px; height: 60px; background: #0065b3; position:absolute; top:0; left:0;}
.main_business_area{position: relative; overflow: hidden; width:100%; background:#fff}
.main_business_area a{display: block;}
.main_business_area .inner{width: 1200px; margin: 0 auto; box-sizing: border-box; position: relative;}
.main_business_area .main_business_slider{position: relative;}
.main_business_area ul{margin-top:200px; width:400px; height:600px; overflow:hidden; display: inline-block; position: relative;}
.main_business_area ul.slider02{position:absolute; left:450px; margin-top:85px; width:350px; height:585px;}
.main_business_area ul.slider03{position:absolute; left:849px; width:350px; height:680px; top:-73px}
.main_business_area ul li{box-sizing:border-box; padding-right:60px; float:left; position: absolute; color:#fff; z-index:0; cursor:pointer;}
.main_business_area ul li img{width:450px;}
.main_business_area ul.slider02 li img{width:400px;}
.main_business_area ul.slider03 li img{width:360px;}
.main_business_area ul li.active img{width:450px;}
.main_business_area ul.slider02 li.active img{width:400px;}
.main_business_area ul.slider03 li.active img{width:360px;}
.main_business_area ul li strong,
.main_business_area .slider_mask strong{position: absolute; bottom:-20px; left:15px; font-size:30px; letter-spacing: -0.5px; line-height: 1.6; font-weight: 700;
                                        box-sizing: border-box; color: #fff;}
.main_business_area ul:nth-of-type(1) li strong{top:500px}
.main_business_area ul:nth-of-type(2) li strong{top:540px}
.main_business_area ul li strong span,
.main_business_area .slider_mask strong span{display: block; margin-bottom:8px; font-size:18px; line-height: 1.64; letter-spacing: -0.7px; font-weight: 400; white-space: pre-line; opacity: 0; 
                                            height:0; overflow: hidden;}
.main_business_area ul li.active strong span,
.main_business_area .slider_mask strong span{opacity: 1;height:auto;}
.main_business_area .slider_mask{position: absolute; left:0; top:0; width:450px; -webkit-transform: matrix(1, 0, 0, 1, 0, 140); transform: matrix(1, 0, 0, 1, 0, 140); color:#fff;}

.main_business_area .main_business_slider .slider_nav{position: absolute; left:600px; margin-left:-40px; top:738px; overflow:hidden;}
.main_business_area .main_business_slider .slider_nav button + button{margin-left:20px;}
.slider_nav button{font-size:0; width:50px; height:50px; border-radius: 50%; box-sizing: border-box; border: 0; cursor: pointer; background:#fff; border:1px #333 solid; 
    border-radius: 50%; position: relative;}
.slider_nav button i{font-size: 30px; position: relative; left:10px}
.slider_nav button span{background:#000;width:62px;height:62px;border-radius: 50%;position: absolute;left:-1px;top:-1px;z-index:0;opacity:0;}




/* 보도 자료*/
.board{width: 100%; padding:150px 0 100px;  background:#f6f6f6; overflow: hidden;}
.board_inner{width: 1200px; margin: 0 auto; overflow: hidden;}
.board .news{position: relative;}
.board .news::before{content: ''; display: block; width: 530px; height: 2px; background: #0065b377; position: absolute; top:65px }
.board .news h3{font-size: 40px;}
.board .news a{display: block;}
.board .news{width:600px; float:left; }
.board .news .board_left{margin-top: 150px; }
.board .news .board_left ul{overflow: hidden;}
.board .news .board_left li{float:left; width: 256px; height: 460px; margin-right: 20px ;border: 1px solid #ccc; border-radius: 20px; 
                        background: #fff; transition: all .5s ease;}
.board .news .board_left li:nth-child(2){margin:0}
.board .news .board_left li:hover{border: 1px solid #0089d1; }
.board .news .board_left img{width: 239px; height: 160px; border-radius: 20px; margin: 7px 8px 15px 9px;  transition: all .5s;}
.board .news .board_left dl{margin: 0 15px; color:#333;}
.board .news .board_left dt{font-size: 18px; font-weight: bold; line-height: 1.5em; text-align: center;}
.board .news .board_left dt span { display: block; text-align: right; font-weight: normal; font-size: 16px; margin-top:15px;}
.board .news .board_left dd{ margin-top: 18px; line-height: 1.5em; text-align: justify; margin-bottom: 15px;}
.board .news .board_left i{position: absolute; top:0; right:80px; color:#0065b3}

.board .news .board_left li:hover img{transform: scale(1.03);}



.board .notice h3{font-size: 40px; }
.board .notice {width:580px; float:right; padding: 0 10px; position: relative;}
.board .notice::before{content: ''; display: block; width: 570px; height:2px; background:#fa7d0177; position: absolute; top:65px;}

.board .notice .board_right{margin-top: 150px; }
.board .notice .board_right li{width: 570px; height: 130px; border: 1px solid#ccc; border-radius: 20px; background: #fff; transition: all .5s ease; margin-bottom: 35px;}
.board .notice .board_right li a{display: block; padding: 52px 40px 0; font-size: 22px;}
.board .notice .board_right li:hover{box-shadow: 5px 5px 5px #ccc; border: 1px solid#fa7d01;}
.board .notice .board_right strong{display: block; font-size: 20px; color:#333; margin: 50px 0 25px 30px;}
.board .notice .board_right span{font-size: 18px; color:#999; display: block; text-align: right; margin-top:12px}
.board .notice .board_right .notice1{margin-bottom: 33px;}
.board .notice .board_right .notice1_last{margin-bottom: 0;}
.board .notice .board_right i{position: absolute; top: 5px; right:40px; color:#fa7d01; }


/* 투자 정보*/

.stock{position: relative; width: 2000px; left: 50%; margin-left: -1000px; padding: 100px 0 200px 0; border:1px solid#fff; }
.stock h3{font-size:50px; padding-bottom: 100px; text-align: center; position: relative; }
.stock h3::before{content: ''; display: block; width:8px; height: 60px; background: #0065b3; position:absolute; top:0px; left:880px;}
.stock .stock_con{width: 2000px;  height: 300px; position: relative;background: url(../images/stock.jpg) top no-repeat;
                background-attachment: fixed;  z-index: 10; border:1px solid#fff;}
.stock ul{overflow: hidden;}
.stock ul li{width:33.33%; height: 300px; float:left;}
.stock ul li a{display: block; height: 100%; border-right:1px solid #fff; background: rgba(0, 0, 0, .2); transition: all .6s ease-out;}
.stock h4{color:#fff; font-size:50px; text-align: center; padding-top: 50px; font-size:40px}
.stock li a .stock_list{width: 50%; margin: 40px auto;}
.stock li a .stock_list li{font-size: 18px;  text-align: center; float: left; color:#ccc; width: 50%; margin-top: 10px; 
                position: relative; transition: all 1s ease; height: fit-content;}
.stock li a .stock_list li i{font-size:2px; position: absolute; top:6px; left:27px}
.stock .plus{display: block; width: 180px;  border: 1px solid #fff; color: #fff; transition: all .5s ease-out;
             font-size:20px; margin-left:225px; padding: 7px 0; text-align: center;}
.stock li:hover .plus{ box-shadow: 220px 0 0 0 #fff inset; color:#333}
.stock li:hover a{background:rgba(0, 0, 0, .7);}



/* 스크롤 */
#content section:nth-child(odd){position: relative; right: -20px; top:0; opacity: 0; transition: all .8s;} 
#content section:nth-child(even){position: relative; right: 20px; top:0; opacity: 0; transition: all .8s;} 
#content section.boxMove{right: 0; opacity: 1;}
