.visual{width: 100%; height: 160px; background: url(../images/sub1_v.jpg) right bottom no-repeat; background-size: cover; }

.sub_tab{width: 100%; overflow: hidden; }
.sub_tab h3{float: left; width: 50%; padding: 10px 0 ; box-sizing: border-box; font-size: 1.3em; 
           border: 1px solid#0065b3; text-align: center;}
.sub_tab ul{float:right; width: 50%; position: absolute; left:50%; }
.sub_tab li{box-sizing: border-box; border:1px solid #0065b3; font-size: 1.3em; border-top: none; background: #fff;}
.sub_tab .on{background: #0065b3;}
.sub_tab .on a{color:#fff}
.sub_tab li a{display: block; padding: 10.5px 0; text-align: center;}
.sub_tab li a span{position: absolute;  right:10%}
#content{margin-top:100px;}

#content{margin-top:100px;}