

#content .content_area {overflow: hidden; margin-top: 200px;  font-family: 'roboto'; }
#content .content_area .a_tb{float:left; margin-bottom:200px;}
#content .content_area .a_tb1{width: 700px; border-collapse: collapse; }

#content .content_area .a_tb1 thead tr{border:1px solid#ccc;}
#content .content_area .a_tb1 thead .fir_tit{text-align: center;}
#content .content_area .a_tb1 thead th{text-align: center; font-size:18px; padding: 30px 0; background: rgba(0, 101, 179, .1);border-right:1px solid#ccc;}

#content .content_area .a_tb1 tbody th,td{border: 1px solid#ccc; padding: 20px 0; text-align: center;}
#content .content_area .a_tb1 tbody th{width: 250px;}
#content .content_area .a_tb1 tbody .total{font-weight: 700; padding-left: 250px; background: rgba(0, 101, 179, .1); }
#content .content_area .a_tb1 tbody .total1{padding-left: 250px;}
#content .content_area .a_tb1 tbody .last{background: rgba(0, 101, 179, .1); font-weight: 700;}

#content .content_area .b_tb{float:right; margin-bottom: 58px; }
#content .content_area .b_tb1{width:450px; border-collapse: collapse; font-family: 'roboto'; border: 1px solid#ccc; }

#content .content_area .b_tb1 thead tr{border-bottom: 1px solid#ccc;}
#content .content_area .b_tb1 thead .fir_tit{text-align: center;}
#content .content_area .b_tb1 thead th{text-align: center; font-size:18px; padding: 30px 0; background: rgba(0, 101, 179, .1); border-left: 1px solid#ccc;}

#content .content_area .b_tb1 tbody th,td{border-bottom: 1px solid#ccc; padding: 20px 0; text-align: center; border-left:1px solid#ccc;}
#content .content_area .b_tb1 tbody th{width:300px;}
#content .content_area .b_tb1 tbody td{width: 150px;}
#content .content_area .b_tb1 tbody .total{font-weight: 700; padding-left: 200px; background: rgba(0, 101, 179, .1); }
#content .content_area .b_tb1 tbody .total1{padding-left: 200px;}
#content .content_area .b_tb1 tbody .last{background: rgba(0, 101, 179, .1); font-weight: 700;}

#content .content_area .c_tb{float:right;  margin-bottom:200px;}
#content .content_area .c_tb1{width:450px; border-collapse: collapse;font-family: 'roboto'; border: 1px solid#ccc; }

#content .content_area .c_tb1 thead tr{border-bottom:1px solid#ccc;}
#content .content_area .c_tb1 thead .fir_tit{text-align: center;}
#content .content_area .c_tb1 thead th{text-align: center; font-size:18px; padding: 19px 0; background: rgba(0, 101, 179, .1); border-left: 1px solid#ccc;}

#content .content_area .c_tb1 tbody th,td{border-bottom: 1px solid#ccc; padding: 20px 0; text-align: center;}
#content .content_area .c_tb1 tbody th{width:300px;}
#content .content_area .c_tb1 tbody td{width: 150px;}
#content .content_area .c_tb1 tbody .total{font-weight: 700; padding-left: 200px; background: rgba(0, 101, 179, .1); }
#content .content_area .c_tb1 tbody .total1{padding-left: 200px;}
#content .content_area .c_tb1 tbody .last{background: rgba(0, 101, 179, .1); font-weight: 700;}
#content .content_area .c_tb1 tbody .all_total{background: rgba(250, 124, 1, .2); font-weight: 700;}

